*.xcuserstate

*.xcbkptlist

*.xcbkptlist

VTHacks/AWSRuntime.framework/AWSRuntime

VTHacks/AWSRuntime.framework/AWSRuntime

VTHacks/AWSRuntime.framework/Headers

VTHacks/AWSRuntime.framework/Headers

VTHacks/AWSRuntime.framework/Resources

VTHacks/AWSRuntime.framework/Resources
