
build/*

# Exclude temp nibs and swap files
*~.nib
*.swp

# Exclude OS X folder attributes
VTHacks/.DS_Store

# Exclude user-specific XCode 3 and 4 files
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata




*.xcuserstate

*.xcbkptlist

*.xcbkptlist

VTHacks/AWSRuntime.framework/AWSRuntime

VTHacks/AWSRuntime.framework/AWSRuntime

VTHacks/AWSRuntime.framework/Headers

VTHacks/AWSRuntime.framework/Headers

VTHacks/AWSRuntime.framework/Resources

VTHacks/AWSRuntime.framework/Resources

