<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Saturday March 1st</key>
	<dict>
		<key>11:00am</key>
		<dict>
			<key>Title</key>
			<string>Registration &amp; Lunch</string>
			<key>Body</key>
			<string>Make your way down to the entrance of Cassell Coliseum to start the registration process with a VTHacks volunteer.  Lunch will be served shortly afterwards.</string>
		</dict>
		<key>12:30pm</key>
		<dict>
			<key>Body</key>
			<string>Start of the opening ceremony, at this time please go to the stands to grab a seat and get ready for the opening demos.</string>
			<key>Title</key>
			<string>Welcome Ceremony</string>
		</dict>
		<key>1:30pm</key>
		<dict>
			<key>Body</key>
			<string>Meet new hackers, get together with friends, talk about ideas, and start forming a team.  After you&apos;re set, begin haking.</string>
			<key>Title</key>
			<string>Team Formation</string>
		</dict>
		<key>6:00pm</key>
		<dict>
			<key>Body</key>
			<string>Dinner will be served at this time.  Please make your way to the designated food pick-up locations.</string>
			<key>Title</key>
			<string>Dinner Time!</string>
		</dict>
	</dict>
	<key>Sunday March 2nd</key>
	<dict>
		<key>12:00am</key>
		<dict>
			<key>Body</key>
			<string>Breakfast bagels will be served at the breakfast location at this time.</string>
			<key>Title</key>
			<string>Breakfast Bagels!</string>
		</dict>
		<key>1:30pm</key>
		<dict>
			<key>Body</key>
			<string>At this time you can start to show off your hack by your desk.  We will select the top ten hackers who will be doing a demo on stage very soon.</string>
			<key>Title</key>
			<string>Expo &amp; Pick Top 10</string>
		</dict>
		<key>2:00pm</key>
		<dict>
			<key>Body</key>
			<string>The finalist that the VTHacks staff notified will now demo in front everyone.</string>
			<key>Title</key>
			<string>Final Demos on Stage</string>
		</dict>
		<key>3:00pm</key>
		<dict>
			<key>Body</key>
			<string>Announce the winners of the hackathon and take photos.</string>
			<key>Title</key>
			<string>Prize Ceremony</string>
		</dict>
		<key>3:20pm</key>
		<dict>
			<key>Body</key>
			<string>Wrap up VTHacks and make any last minute announcements.</string>
			<key>Title</key>
			<string>Closing Ceremony</string>
		</dict>
	</dict>
</dict>
</plist>
